<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
    <script type="text/javascript">
        var clientWebSocket = new WebSocket("ws://localhost:8080/event-emitter");
        clientWebSocket.onopen = function() {
            console.log("WebSocket Opened!")
        };
        clientWebSocket.onclose = function(error) {
            console.log("WebSocket Closed </3")
        };
        clientWebSocket.onerror = function(error) {
            console.log("WebSocket Error >:(")
        };
        clientWebSocket.onmessage = function(event) {
            console.log(JSON.parse(event.data));
        }
    </script>
    <p>Cake</p>
</body>
</html>