.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  width: 1600px;
  margin: auto;
}

.foods {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 256px;
  height: 256px;
  margin: 25px;
  position: relative;
}

.card-title {
  font-size: larger;
  height: 1em;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

.card-footer {
  position: absolute;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 10px 0;
}

.card-text, .card-footer button {
  display: inline;
  font-weight: bold;
  margin: 0 10px;
}

.card-subtitle {
  display: none;
}

body {
  background: #ff8181;
}

th, td {
    padding: 10px;
    text-align: left;
}

table{
    width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
